
.card_title{
    font-size: 20px;
    padding-bottom: 20px;
}
.Menulogo{
    display: flex;
    margin-left: 45.1%;
    align-items: center;
    margin-top: 9%;
    margin-bottom: 2%;
}
.logo{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.VyoogTitle{
    font-size: 28px;
    font-weight: 600;
}
.card{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content:center;
    align-items: center;
    /* box-shadow: "10px 10px 10px #000" */

}
.form{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}
.button{
    font-size: 18px;
    width: 20rem;
    padding-top: 100px;
}
.footer_text{
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}